<app-header></app-header>

<div class="container-lg">


  <app-employee-add
    *ngIf="content === 'employeeAdd'"
    (addEmployee)="addEmployeeToList($event)"
    (cancelForm)="cancelAddForm()"></app-employee-add>

  <div *ngIf="content === 'employeeList'">
    <div id="button_control">
      <button mat-flat-button color="primary" style="margin: 5px auto;" (click)="showAddEmployeeForm()">
        <mat-icon>person_add</mat-icon> Add Employee
      </button>
    </div>
    <app-employee-list [employeeList]="employeeList"></app-employee-list>
  </div>

  <footer>
    Website by Karol Knieć
  </footer>
</div>

